<xf:textboxrow name="options[host]" value="{$profile.options.host}"
	label="{{ phrase('btcpayserver_host') }}"/>

<xf:textboxrow name="options[api_key]" value="{$profile.options.api_key}"
	label="{{ phrase('btcpayserver_api_key') }}" />

<xf:textboxrow name="options[secret]" value="{$profile.options.secret}"
	label="{{ phrase('btcpayserver_secret') }}" type="password" />

<xf:textboxrow name="options[store_id]" value="{$profile.options.store_id}"
	label="{{ phrase('btcpayserver_store_id') }}" />